
<div class = "container">
<div class = "row">
  <div class="center col-sm-6">
    <img src="./assets/css/img/burger-image.png" alt="burger">
    </div>
    <div class="col-sm-6" id="eatDaBurger"><h2>Eat-Da-Burger!!!</h2>
    </div>

</div>
</div>

<div class="row">
	    <div class="col-sm-6">

			<br>
			<h3>Burgers Available To Eat!</h3>

			<ul>
			  {{#each burgers}}
			    {{#unless this.devoured}}
			      <li>
			      	{{this.id}}
			        {{this.burger_name}}

			        {{!-- <form method="PUT"> --}}
			          {{!-- <input type="hidden" name="devoured" class='burger_id' value={{this.id}}> --}}
			          <button class="btn-primary newBurgerDevoured" data-burgerId="{{this.id}}" type="submit">Devour It!</button>
			        {{!-- </form> --}}

			      </li>
			    {{/unless}}
			  {{/each}}
			</ul>

	    </div>

	    <div class="col-sm-6">

			<h3>Burgers That Have Been Eaten!</h3>
			  {{#each burgers}}
			    {{#if this.devoured}}
			      
              <input type="text" class="form-control" placeholder="{{this.id}}.{{this.burger_name}}">

			    
			    {{/if}}
			  {{/each}}
			
	    </div>

  	</div>
	

	<div class="row">
	    <div class="center col-sm-12">

			<h3>Add A Burger!</h3>

<form id="form-add">
  <div class="form-group">  
      <input id="addBurger" type="text" class="form-control" data = ""
    placeholder="ex. Cheeseburger">
    <button id="newBurgerButton" type="submit" class="btn">Submit</button>
  </div>
</form>
</div>
</div>